<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastro de imoveis</title>
</head>
<body>
    <h1>Cadastro de imoveis</h1>
    <form method="post">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="nome" value=""/>

        <label for="anunciante">Anunciante:</label>
        <input type="text" id="anunciante" name="anunciante" value=""/>

        <label for="endereco">Endereço:</label>
        <input type="text" id="endereco" name="endereco" value=""/>

        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" name="cidade" value=""/>
               
        <label for="estados">Selecione um Estado:</label>
            <select id="estados" name="estados">
                <option value="">-- Selecione um Estado --</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
            </select>

        
        
        <label for="valor">Valor:</label>
        <input type="text" id="valor" name="valor" value=""/>
        
        <label for="observacoes">Observações:</label>
        <input type="text" id="observacoes" name="observacoes" value=""/>
       <label> Selecione a categoria do imovel:</label>
        <label><input type="radio" name="categoria" value="categoria_Aluguel"> Aluguel</label>
        <label><input type="radio" name="categoria" value="categoria_venda"> Venda  </label>
    
        <label for="imagens">Adiconar imagens</label>
        <input type="file" id="imagens" name="imagens" value=""/>

        <button type="submit">Salvar</button>

    </form>
    
</body>
</html>