body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #d2c4c4;
    color: #4a2d2d;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.header img {
    width: 100px;
}

.header a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

.search-bar {
    margin: 20px auto;
    text-align: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    width: 50%;
    border: 2px solid #ddd;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
}

.search-bar button {
    position: relative;
    right: 30px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.filters button {
    background-color: #d2c4c4;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.property-section {
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.property-card {
    background-color: #d3d3d3;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.property-card img {
    width: 100%;
    border-radius: 5px;
}

.property-card h3 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.property-card p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.property-card button {
    background-color: #999;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
